# Modelo de Clasificación Binaria
# Dataset: Churn Modelling
## Fuente: https://www.kaggle.com/datasets/shrutimechlearn/churn-modelling
Índice<a name="indice"></a>
* [1 Prepocesado de datos](#1)
    * [1.1 Importación de librerías](#1_1)
    * [1.2 Carga del Dataset](#1_2)
* [2 Análisis Exploratorio de datos](#2)
    * [2.1 Estadísitcas descriptivas](#2_1)
* [3 Diseño de características](#3)
    * [3.1 Tratamiento de datos nulos](#3_1)
    * [3.2 Transformación de características](#3_2)
    * [3.3 Selección de características relevante](#3_3)
    * [3.4 Tratamiento de outliers](#3_4)
    * [3.5 Tratamiento de correlación](#3_5)
    * [3.6 Normalización](#3_6)
* [4 Regresión logística todas las variables con el DF sin tratar](#5) 
* [5 Regresión logística todas las variables con el DF sin outliers, sin correlaciones y normalizado](#6) 
* [6 Conclusión final](#7)

Descripción del dataset: El dataset contiene información de clientes de un banco y la variable objetivo es una variable binaria que refleja si el cliente cierra la cuenta o si continúa en el banco. Las variables son:
* _RowNumber_: Id de fila       
* _CustomerId_: Id del cliente      
* _Surname_: Apellidos          
* _CreditScore_: Puntuación que asigna el banco al cliente    
* _Geography_: País del cliente       
* _Gender_: Sexo
* _Age_: Edad del cliente             
* _Tenure_: Antigüedad del cliente en el banco, en años           
* _Balance_: Saldo del cliente          
* _NumOfProducts_: Nº de productos que el cliente tiene contratado en el banco   
* _HasCrCard_: 1 el cliente tiene tarjeta de crédito        
* _IsActiveMember_: 1 El cliente es un miembro activo  
* _EstimatedSalary_: Salario estimado en dólares  
* _Exited_: 0 el cliente no cierra la cuenta, 1 el cliente cierra la cuenta

# 1 PREPRECESADO DE DATOS <a name="1"></a>
[Índice](#indice)

## 1.1 Importación de librerías <a name="1_1"></a>
[Índice](#indice)

In [1]:
import pandas as pd

import seaborn as sb
import matplotlib.pyplot as plt

## 1.2 Carga del dataset <a name="1_2"></a>
[Índice](#indice)

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# 2 PREPROCESADO DE DATOS <a name="2"></a>
[Índice](#indice)

In [3]:
df.shape

(10000, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

## 2.1 Estadísticas descriptivas <a name="2_1"></a>
[Índice](#indice)

# 2 DISEÑO DE CARACTERÍSTICAS <a name="3"></a>
[Índice](#indice)

## 3.1 Tratamiento de nulos <a name="3_1"></a>
[Índice](#indice)

## 3.2 Transformación de características <a name="3_2"></a>
[Índice](#indice)

## 3.3 Selección de características relevantes <a name="3_3"></a>
[Índice](#indice)

## 3.4 Tratamiento de outliers <a name="3_4"></a>
[Índice](#indice)

## 3.5 Tratamiento de Correlación <a name="3_5"></a>
[Índice](#indice)

## 3.6 Normalización <a name="3_6"></a>
[Índice](#indice)

# 4 Regresión Logística todas las variables con el DF sin tratar <a name="4"></a>
[Índice](#indice)

# 5 Regresión logística todas las variables con el DF sin outliers, sin correlaciones y normalizado <a name="5"></a>
[Índice](#indice)

# 6 Conclusión final <a name="6"></a>
[Índice](#indice)